<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Débora</title>
    <link rel="stylesheet" href="static/style.css'">
</head>
<body>
    <header class="titulo">
        <div class="text">
            
            <h1>Débora: A Profetisa, Juíza e Guerreira de Israel</h1>
            <img id="logo" src="static/images/logo_igreja.png" alt="igreja">
        </div>
        <img src="static/images/debora_titulo.jpg" alt="v">
    </header>

    <section class="conteudo">
        <p>
            Débora foi uma figura proeminente no Antigo Testamento da Bíblia, destacando-se como profetisa e a única mulher a exercer a função de juíza em Israel. A seguir, apresentamos um resumo
 de sua história e realizações:
        </p>

        <h2>Contexto Histórico</h2>
        <p>Celebração da Vitória: Após a vitória, Débora e Baraque entoaram um cântico de louvor, conhecido como o "Cântico de Débora", que celebra a intervenção divina e a coragem dos líderes e do povo na batalha.</p>
        <h2>Papel como Profetisa e Juíza</h2>
            <ul>
                <li>
                    <p class="item">Profetisa: Débora era reconhecida por receber e transmitir mensagens de Deus ao povo de Israel, orientando-os espiritualmente.</p>
                    
                </li>
                <li>
                    <p class="item"></pclass>Juíza: Ela julgava as disputas do povo sob uma palmeira entre Ramá e Betel, conhecida como "Palmeira de Débora". Os israelitas procuravam sua sabedoria para resolver conflitos e obter conselhos.</p>
                </li>
            </ul>
        <h2>Liderança Militar</h2>
            <ul><li>
                <p class="item">
                    Convocação de Baraque: Débora convocou Baraque, filho de Abinoão, instruindo-o a reunir 10.000 homens das tribos de Naftali e Zebulom para enfrentar Sísera, comandante do exército cananeu liderado por Jabim, rei de Hazor.
                </p>
                
            </li>
            <li>
                <p class="item"></pclass>Batalha no Monte Tabor: Sob a liderança de Débora e Baraque, o exército israelita obteve uma vitória decisiva contra as forças de Sísera no Monte Tabor.</p>
            </li></ul>
        <h2>Cântico de Débora</h2>
        <ul>
            <li><p class="item"> Período de Paz: Sob a liderança de Débora, Israel desfrutou de 40 anos de paz após a derrota de Jabim.</p></li>
            <li><p class="item"> Exemplo de Liderança: Débora é lembrada como um exemplo de liderança feminina, fé e coragem, inspirando gerações posteriores. </p></li>
        </ul>


    </section>
    <footer>&copy; erikvinicius <br>
            Telefone: 5545999218905 
    </footer>
</body>
</html>
